<head>
    this is for Ali
</head>

<body>
	<form action="" method="post">{% csrf_token %}
        <div class="form-group">
            {{ form.Name.error }}
            <label for="id_Name">Name:</label>
            {{ form.as_p }}
        </div>

        <input class="btn btn-primary" type="submit" value="Submit">
    </form>

<b>____________________________________________________________________________________________________</b><br>
<h3>Title:</h3><br>
    {{title}}<br>

<b>____________________________________________________________________________________________________</b><br>
<h3>size:</h3><br>
{%  for i in size %}
    {{i}}
{% endfor %}
    <br>
<b>____________________________________________________________________________________________________</b><br>
 <h3>price:</h3><br>
    {{price}}<br>
<b>____________________________________________________________________________________________________</b><br>

 <h3>Discrption:</h3><br>
<table>
 {% for i in Discrption %}<br>
  <tr>
{{i}}
  </tr>
{% endfor %}
    </table>
<br>
    <b>____________________________________________________________________________________________________</b><br>
<h3>Images:</h3><br>
    {% for i in images %}
    {{i}} <br>
{% endfor %}



</body>

